.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.clients-list-icon {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
    transition: fill var(--transition-prop);
}

.clients-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--transition-prop);
    &:hover, &:focus{
    border: 1px solid var(--accent-color);}
    &:hover .clients-list-icon,
    &:focus .clients-list-icon {
    fill: var(--accent-color);}
}

@media screen and (min-width:768px) {
    .clients-list-link {
        width: 226px;
        height: 92px;
    }
}

@media screen and (min-width:1200px) {
    .clients-list-link {
        width: 170px;
        height: 92px;
    }
}

