@media screen and (max-width: 767px) {
    .page-header__navigation {
        display: none;
    }
    .page-header__contacts-list {
        display: none;
    }
    .mobile-menu-btn {
        line-height: 0;
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .mobile-menu-btn__icon {
        height: 40px;
        width: 40px;
}
    .page-header {
        padding-top: 10px;
        padding-bottom: 10px;
}
}
.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .mobile-menu-btn {
        display:none;
    }
    .page-header {
        padding-top: 21px;
        padding-bottom: 21px;
        border-bottom: 1px #ECECEC solid;
    }
    .page-header__navigation-list {
        display: flex;
        gap: 50px;
    }
    .page-header__navigation-item {
        font-weight: 500;
        color: var(--main-color);
        text-decoration: none;
        transition: color var(--transition-prop);
            &:hover, &:focus {
            color: var(--accent-color)
    }
    }
    .page-header__container {
        justify-content: flex-start;
}
    .page-header__contacts {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 1.17;
        color: var(--secondary-color);
        text-decoration: none;
        transition: color var(--transition-prop);
            &:hover, &:focus {
            color: var(--accent-color)
    }
}
    .current {
        color: var(--accent-color);
        position: relative;
            &::after {
            width: 100%;
            top: 46px;
            left: 0;
            position: absolute;
            content: "";
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
    }
}
    .page-header__contacts-list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        gap: 10px;
    }
    .page-header__contacts-list-icon {
        fill: var(--secondary-color);
        margin-right: 8px;
        transition: fill var(--transition-prop);
            .page-header__contacts-list-item:hover &,
            .page-header__contacts-list-item:focus & {
            fill: var(--accent-color)
    }
}
    .page-header__contacts-list-icon-envelope {
        width: 14px;
        height: 10px;
    }
    .page-header__contacts-list-icon-smartphone{
        width: 10px;
        height: 14px;
    }
}

@media screen and (min-width:1200px) {
    .page-header {
        padding-top: 24px;
        padding-bottom: 25px;
    }
    .page-header__contacts-list {
        flex-direction: row;
        margin-left: auto;
        gap: 50px;
        align-items: center;
    }
    .page-header__contacts-list-icon {
        margin-right: 10px;
    }
    .page-header__contacts-list-icon-envelope {
        width: 16px;
        height: 12px;
    }
    .page-header__contacts-list-icon-smartphone {
        width: 10px;
        height: 16px;
    }
    .page-header__contacts {
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 1.1428;
    }
}




// .page-header__contacts {
//     display: flex;
//     align-items: center;
//     font-weight: 500;
//     color: var(--secondary-color);
//     text-decoration: none;
//     transition: color var(--transition-prop);
//         &:hover, &:focus {
//         color: var(--accent-color)
//     }
// }

// .current {
//     color: var(--accent-color);
//     position: relative;
//         &::after {
//         width: 100%;
//         top: 46px;
//         left: 0;
//         position: absolute;
//         content: "";
//         height: 4px;
//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
// }




