.page-header__navigation {
    display: none;
}

.page-header__contacts-list {
    display: none;
}

.mobile-menu-btn {
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;
}
.mobile-menu-btn__icon {
    height: 40px;
    width: 40px;
}
.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


// .page-header {
//     padding-top: 24px;
//     padding-bottom: 25px;
//     border-bottom: 1px #ECECEC solid;
// }

// .page-header__container {
//     display: flex;
//     align-items: center;
// }

// .page-header__navigation-list {
//     display: flex;
//     gap: 50px;
// }

// .page-header__navigation-item {
//     font-weight: 500;
//     color: var(--main-color);
//     text-decoration: none;
//     transition: color var(--transition-prop);
//         &:hover, &:focus {
//         color: var(--accent-color)
//     }
// }

// .page-header__contacts-list {
//     display: flex;
//     margin-left: auto;
//     gap: 50px;
//     align-items: center;
// }

// .page-header__contacts-list-icon {
//     fill: var(--secondary-color);
//     margin-right: 10px;
//     transition: fill var(--transition-prop);
//         .page-header__contacts-list-item:hover &,
//         .page-header__contacts-list-item:focus & {
//         fill: var(--accent-color)
//     }
// }

// .page-header__contacts {
//     display: flex;
//     align-items: center;
//     font-weight: 500;
//     color: var(--secondary-color);
//     text-decoration: none;
//     transition: color var(--transition-prop);
//         &:hover, &:focus {
//         color: var(--accent-color)
//     }
// }

// .current {
//     color: var(--accent-color);
//     position: relative;
//         &::after {
//         width: 100%;
//         top: 46px;
//         left: 0;
//         position: absolute;
//         content: "";
//         height: 4px;
//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
// }




